*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --svg-md: 2rem;
  --svg-big: 3rem;
  --col-primary: #b10400;
  --col-grey: #181818;
  --col-grey-dark: #333;
  --col-black: #000;
  --col-black-light: #222;
  --col-white: #fff;
}

body {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--col-black-light);
}

.title-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title-page::after{
  content:"";
  position: absolute;
  /* top: 0; */
  bottom: 0;
  width: 40%;
  height: 3px;
  background-color: var(--col-primary);
}

.title-page-sub, .title-page-main{
  font-family: serif;
}

.title-page-sub{
  font-style: italic;
  font-weight: normal;
  color: var(--col-primary);
  font-size: 3.5rem;
  text-transform: lowercase;
}

.title-page-main{
  font-size: 6rem;
  text-transform: capitalize;
}

.u-justify{
  text-align: justify;
}

/* header stylings */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  z-index: 50000;
}

.header__top {
  background-color: rgba(0, 0, 0, 0.904);
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
}

.header__top--contact {
  display: flex;
  margin-right: 8rem;
}

.header__top--contact > *:not(:last-child) {
  margin-right: 2rem;
}

.header__flex {
  display: flex;
  align-items: center;
}

.header__flex--svg {
  width: var(--svg-md);
  height: var(--svg-md);
  fill: var(--col-primary);
}

.header__flex--text {
  color: var(--col-white);
  margin-left: 0.5rem;
  font-family: serif;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.header__links {
  display: flex;
  margin-right: auto;
}

.header__links > *:not(:last-child) {
  margin-right: 0.5rem;
}

.header__links--link,
.header__links--link:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 2rem 1.5rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: serif;
}

.header__links--link svg {
  fill: currentColor;
  margin-right: 0.5rem;
}

.header__social--link,
.header__social--link:visited {
  text-decoration: none;
}

.header__social--link svg {
  --size: 3rem;
  width: var(--size);
  height: var(--size);
}

.header__social {
  display: flex;
  align-items: center;
}

.header__social > *:not(:last-child) {
  margin-right: 2rem;
}

.header__main {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  padding: 1rem 5rem;
}

.logo,
.logo:visited {
  text-decoration: none;
  color: var(--col-white);
  margin-right: auto;
}

.logo__text {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-family: serif;
}

.logo__text--main {
  font-style: oblique;
  letter-spacing: 1.5px;
  color: var(--col-primary);
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 0;
}

.logo__text--sub {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.nav__list--item {
  padding: 1rem 1.5rem;
}

.nav__list--item-link,
.nav__list--item-link:visited {
  text-decoration: none;
  color: var(--col-white);
  font-family: serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.nav__list--item-link:hover {
  color: var(--col-primary);
}

.header__cta-button,
.header__cta-button:visited {
  padding: 1rem;
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--col-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__cta-button svg {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--col-white);
}
/* End of header stylings */

/* Home stylings */
.home {
  min-height: 100vh;
  background: url(./images/champagne-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__textbox {
  position: relative;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 40%;
  min-height: 60%;
  transform: translateY(50px);
}

.home__textbox--cover {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 95%;
  height: 95%;
  border: 2px solid var(--col-primary);
  z-index: -1;
}

.title {
  font-size: 5rem;
  text-transform: capitalize;
  font-family: serif;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.name {
  font-style: oblique;
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--col-primary);
  margin-bottom: 1rem;
  font-family: serif;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.sub-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: normal;
  font-family: serif;
  margin-bottom: 4rem;
}

.home__button,
.home__button:visited {
  text-decoration: none;
  padding: 2rem 1.5rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  font-weight: bold;
  text-transform: uppercase;
  font-family: serif;
  letter-spacing: 2px;
  border-radius: 2px;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}

.home__button:hover {
  background-color: transparent;
  color: var(--col-primary);
  border: 2px solid var(--col-primary);
}
/* end of Home stylings */

/* The samples section */
.samples-section {
  padding: 10rem;
}

.samples__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

.sample {
  width: 28rem;
  border: 2px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.sample > *:not(:last-child) {
  margin-bottom: 2rem;
}

.sample__image {
  --size: 15rem;
  position: relative;
  padding: 2rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  margin: 1rem auto;
  margin-top: 0;
  background-color: var(--col-primary);
}

.sample__image--img {
  width: 100%;
  height: 100%;
  display: block;
}

.sample__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: serif;
  color: var(--col-primary);
  text-align: center;
  font-weight: normal;
}

.sample__text {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  line-height: 1.4;
}

.sample__readmore,
.sample__readmore:visited {
  display: inline-block;
  text-decoration: none;
  padding: 1.5rem;
  text-transform: uppercase;
  color: #444;
  font-family: serif;
  margin: auto;
  border: 1px solid currentColor;
}
/* End of The samples section */

/* The pricing section */
.pricing-section{
  background-color: #f1f1f1;
  padding: 4rem 0;
}

.pricing-section__container{
  width: 80vw;
  margin: 2rem auto;
  margin-top: 4rem;
  /* --size: calc(0.5 * 1rem * 100);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr)); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pricing-card{
  width: 50%;
  display: flex;
  background-color: var(--col-white);
  position: relative;
  /* overflow: hidden; */
  margin-bottom: 1rem;
}

.pricing-card >*{
  width: 50%;
}

.pricing-card__description{
  padding: 1.5rem;
}

.pricing-card__description >*:not(:last-child){
  margin-bottom: 1rem;
}

.pricing-card__description--title{
  font-size: 1.8rem;
  color: var(--col-black);
}

.pricing-card__description--description{
  line-height: 1.6;
  color: var(--col-grey-dark);
  font-size: 1.7rem;
}

.pricing-card__description--price{
  font-size: 2.5rem;
  color: var(--col-primary);
  font-weight: bold;
}

.pricing-card__image{
  position: relative;
  overflow: hidden;
}

.pricing-card__image::after{
  content: attr(price);
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  padding: 1rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  font-style: italic;
  transform: rotate(35deg) translate(45px, -15px);
}

.pricing-card__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pricing__button-cta, .pricing__button-cta:visited{
  display: flex;
  width: max-content;
  align-items: center;
  text-decoration: none;
  padding: 2rem 2.5rem;
  margin: 1rem auto;
  color: var(--col-white);
  background-color: var(--col-primary);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 100px;
  transition: all .5s ease;
  border: 3px solid transparent;
}

.pricing__button-cta-icon{
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  fill: currentColor;
  margin-right: 1.5rem;
}

.pricing__button-cta:hover{
  background-color: var(--col-white);
  color: var(--col-primary);
  border: 3px solid currentColor;
}
/* End of the pricing section */

/* next event section */
.next-event-section{
  min-height: 100vh;
  padding: 15rem;
  background: url(./images/champagne-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.next-event__container{
  margin-top: 5rem;
}

.next-event-box{
  display: flex;
  align-items: center;
  perspective: 100rem;
}

.next-event-box >*{
  width: 50%;
}

.next-event__image{
  transform: rotateY(30deg);
  box-shadow: 3px 3px 2px #888;
}

.next-event__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.next-event__textbox{
  background-color: var(--col-white);
  padding: 1.5rem;
  transform: rotateY(-30deg);
  margin-left: -1rem;
  box-shadow: 3px 3px 2px #888;
}

.next-event__title{
  font-family: serif;
  font-size: 2rem;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.next-event__description{
  font-size: 1.6rem;
  line-height: 1.5;
  color: #555;
  text-align: justify;
  margin-bottom: 1.5rem;
}

.next-event__countdown{
  display: flex;
  align-items: center;
}

.next-event__countdown--box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-right: 2rem;
  background-color: var(--col-primary);
  color: var(--col-white);
}

.countdown__main{
  font-size: 5rem;
  font-weight: bold;
  font-family: serif;
  letter-spacing: 2px;
}

.countdown__sub{
  text-transform: capitalize;
  font-weight: bolder;
}
/* End of the next event section */

/* The team section */
.team-section{
  padding: 10rem;
  margin-top: 8rem;
}

.team-top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.team-top__image{
  --size: 6rem;
  width: var(--size)!important;
  height: var(--size)!important;
  margin-right: -2rem;
  box-sizing: content-box;
  border: 8px solid var(--col-white);
}

.team-top__image, .team-top__image--img{
  border-radius: 50%;
}

.team-top__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.team__container{
  display: flex;
  align-items: center;
}

.team__textbox{
  position: relative;
  padding: 1rem;
  background-color: white;
}

.team__textbox::after, .team__textbox::before{
  content: "";
  position: absolute;
  width: 45%;
  height: 45%;
  border: 3px solid var(--col-primary);
  z-index: -1;
}

.team__textbox::after{
  top: -1rem;
  left: -1rem;
  clip-path: polygon(0 0, 100% 0, 0 98%, 0 0);
}

.team__textbox::before{
  bottom: -1rem;
  right: -1rem;
}

.team__textbox--heading{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-family: serif;
  font-style: oblique;
}

.team__textbox--text{
  font-size: 1.8rem;
  text-align: justify;
  line-height: 1.6;
  color: #777;
  margin-bottom: 2rem;
}

.team__textbox--author{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.team__textbox--author--name{
  display: inline-block;
  padding: 1rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  font-weight: bolder;
  margin-bottom: .5rem;
  border-radius: 5px;
}
/* End of the team section */

/* The blog section */
.blog-section{
  margin-top: 5rem;
}

.blog-section__container{
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-items: center;
  gap: 3rem;
}

.blog__wrapper, .blog__wrapper:visited{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 35rem;
  /* border: 2px solid red; */
}

.blog__image{
  height: 25rem;
  z-index: 3;
  perspective: 150rem;
}

.blog__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 1s ease;
  transform-origin: bottom;
}

.blog__body{
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  box-shadow: 0 0 3px #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(-5rem);
  z-index: 5;
  background-color: var(--col-white);
  padding-top: 3.5rem;
  border-radius: 5px;
  transition: all .5s ease;
}

.blog:hover .blog__body{
  transform: translateY(-10rem) scale(1.2);
}

.blog:hover .blog__image--img{
  transform:  rotateX(360deg);
}

.blog__body--type{
  display: inline-block;
  padding: 1rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  text-transform: uppercase;
  font-family: serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  letter-spacing: 1.5px;
}

.blog__body--title{
  font-family: serif;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  color: #444;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.blog__body--text{
  text-align: center;
  line-height: 1.5;
  color: #444;
  margin-bottom: 1.5rem;
}

.blog__meta span{
  font-size: 1.4rem;
  color: #333;
  text-transform: capitalize;
  font-weight: bold;
}

.blog__comments{
  padding: .5rem;
  background-color: var(--col-primary);
  color: var(--col-white)!important;
  border-radius: 100px;
}
/* End of the blog section */


/* footer */
.footer{
  padding: 5rem;
  background-color: #181818;
  color: #fff;
  position: relative;
  padding-bottom: 8rem;
}

.footer__container{
  display: flex;
}

.footer__container--div{
  width: 25%;
  padding: 1rem;
  padding-top: 0;
}

.footer__title{
  font-size: 2rem;
  font-family: serif;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer__text{
  font-size: 1.5rem;
  line-height: 1.4;
}

.footer__social{
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.footer__social >*:not(:last-child){
  margin-right: 1rem;
}

.footer__social--link, .footer__social--link:visited{
  --size: 5rem;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  background-color: var(--col-white);
}

.footer__social--link svg{
  --size: 3rem;
  width: var(--size);
  height: var(--size);
}

.footer__contact--block{
  margin-top: 1.5rem;
}

.footer__contact-card{
  display: flex;
  /* align-items: center; */
  margin-bottom: .8rem;
}

.footer__contact-card--icon{
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  fill: var(--col-primary);
  margin-right: 1.5rem;
}

.footer__image-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
  gap: 1rem;
}

.footer__image{
  --size: 8.5rem;
  width: var(--size);
  height: var(--size);
}

.footer__bottom{
  background-color: #111;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5rem;
}

.footer__bottom--link, .footer__bottom--link:visited{
  text-decoration: none;
  padding: .5rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  text-transform: capitalize;
  font-weight: bolder;
  border-radius: 100px;
}

.footer__nav--list{
  list-style: none;
  display: flex;
}

.footer__nav--item:not(:last-of-type){
  margin-right: 1.5rem;
}

.footer__nav--item{
  position: relative;
  padding: .5rem;
  /* border: 1px solid red; */
}

.footer__nav--item:not(:last-of-type)::after{
  content: "";
  --size: 1rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--col-primary);
  border: .2px solid var(--col-white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.footer__nav--item--link, .footer__nav--item--link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  font-family: serif;
  color: var(--col-white);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1.2px;
}
/* End of the footer */
